@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-5xl font-extrabold;
}

h2 {
  @apply text-4xl font-bold dark:text-white;
}

h3 {
  @apply text-3xl font-bold dark:text-white;
}

h4 {
  @apply text-2xl font-bold dark:text-white;
}

h5 {
  @apply text-xl font-bold dark:text-white;
}

h6 {
  @apply text-lg font-bold dark:text-white;
}

p {
  @apply text-base dark:text-white;
}

ul {
  @apply list-disc pl-5;
}

a {
  @apply text-red-500 underline cursor-pointer;
}

ol {
  @apply list-decimal pl-6;
}

blockquote {
  @apply border-l-4 border-blue-500 pl-4 my-4;
}
